/* start variables  */
:root {
    --first-color: #fff;
    --second-color: #159D55;
    --third-color: #777;
    --fourth-color: #f5f5f5;
    --section-padding: 100px;
}
/* end variables  */
/* start global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    display: block
}
h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--third-color);
    text-transform: capitalize;
}
p {
    line-height: 1.8;
    color: var(--third-color);
}
h2 {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -2px;
}
/* end global rules  */
/* start grid system  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end grid system  */
/* start components  */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
/* end components  */
/* start landing section  */
.landing {
    position:relative;
    background-image: url('../imgs/landing.jpg');
    background-size: cover;
    color: var(--first-color);
    height: calc(100vh - 20px);
}
.landing .container {
    position: relative;
    height: 100%;
}
.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    width: 500px;
}
.landing h1 {
    text-transform: capitalize;
    border-top: 3px solid var(--first-color);
    border-bottom: 3px solid var(--first-color);
    padding: 10px 0;
}
@media (min-width: 768px) {
    .landing h1 {
        font-size: 40px;
    }
}
.landing button {
    color: var(--first-color);
    background: none;
    border: 3px solid var(--first-color);
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: .3s;
    display: block;
    margin: auto;
}
.landing button:hover {
    background-color: var(--second-color);
}
/* end landing section  */
/* start header section  */
header {
    background-color: #2D2724;
    min-height: 96px;
    display: flex;
}
header .container {
    color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
header .logo {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
header .logo > span {
    display: flex;
    background-color: #4F4F3E;
    padding: 10px;
    font-size: 18px;
    font-style: italic;
    margin-right: 30px;
}
header .logo p span {
    color: var(--second-color);
}
header .links {
    flex-basis: 74%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .links a {
    font-size: 14px;
    padding: 20px;
    text-transform: uppercase;
    color: var(--first-color);
    transition: .3s;
}
header .links a:hover {
    color: var(--second-color);
}
@media (max-width: 991px) {
    header .logo {
        margin: 20px 0;
    }
    header .logo,
    header .links {
        flex-basis: 100%;
    }
    header .links {
        display: block;
        background-color: rgb(0 0 0 / 50%);
        margin-bottom: 20px;
    }
    header .links a:hover {
        border-bottom: 1px solid var(--second-color);
    }
}
/* end header section  */
/* start info section  */
.info {
    padding: var(--section-padding) 0;
}
.info .container {
    display: grid;
}
@media (min-width: 992px) {
    .info .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media (min-width: 1200px) {
    .info .container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
.info .box {
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}
/* end info section  */
/* start about section  */
.about {
    background-color: var(--fourth-color);
}
.about .container {
    display: grid;
}
@media (min-width: 992px) {
    .about .container {
        grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
    }
}
.about .container .image img {
    width: 100%;
}
.about .content {
    padding: 10px 30px;
    font-size: 12px;
}
.about .text {
    font-size: 14px;
}
.about .text p {
    margin-bottom: 15px
}
.about .boxes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .boxes-container .box {
    text-align: center;
    display: flex;
    margin-bottom: 15px
}
@media (min-width: 992px) {
    .about .boxes-container .box {
        flex-basis: 45%;
    }
}
.about .box img {
    width: 60px;
}
.about .box .text {
    padding: 0 10px;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .about .content {
        order: -1;
    }
    .about .boxes-container {
       flex-direction: column; 
    }
    .about .box {
        flex-direction: column;
    }
}
/* end about section  */
/* start skills section  */
.skills {
    padding: var(--section-padding) 0;
}
.skills .container {
    display: grid;
}
@media (min-width: 992px) {
    .skills .container {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
        
}
.skills .box {
    padding: 20px;
}
.skills .box p {
    margin-bottom: 40px;
}
.skills .box button {
    display: block;
    background: 0;
    border: 2px solid var(--second-color);
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--second-color);
}
.skills .content h3 {
    text-transform: uppercase;
}
.skills .progress {
    margin: 20px 0;
    width: 100%;
    height: 50px;
    background-color: var(--fourth-color);
    position: relative;
}
.skills .progress span {
    position: absolute;
    background-color: var(--second-color);
    height: 100%;
    left: 0;
    top: 0;
}
.skills .progress span:before {
    position: absolute;
    content: attr(data-attribute);
    background-color: var(--third-color);
    color: var(--first-color);
    top: -60px;
    left: 90%;
    display: block;
    padding: 10px
}
.skills .progress span:after {
    position: relative;
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: var(--third-color) transparent transparent transparent;
    top: -6px;
    right: -93%;
}
/* end skills section  */
/* start resume section  */
.resume {
    background-color: var(--fourth-color);
    padding: var(--section-padding) 0;
    text-align: center;
}
.resume a {
    border: 2px solid var(--second-color);
    width: fit-content;
    margin: 30px auto 0;
    padding: 15px;
    color: var(--second-color);
    text-transform: capitalize;
    transition: .3s;
}
.resume a:hover {
    color: var(--first-color);
    background-color: var(--second-color);
}
/* end resume section  */
/* start education section  */
.education {
    padding: 60px 0;
}
.education .education-container{
    display: grid;
    padding: 40px 0;
}
@media (min-width: 992px) {
    .education .education-container{
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
.education .education-container:not(:last-child) {
    border-bottom: 1px solid var(--second-color);
}
.education .education-container .box{
    padding: 10px 25px 25px;
}
.education .education-container .box:first-of-type p {
    margin-bottom: 50px;
}
.education .education-container .box .content{
    margin-bottom: 40px;
    border-bottom: 2px solid var(--second-color)
}
.education .education-container .content button {
    display: block;
    margin: 20px 0;
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 5px 10px;
    text-transform: uppercase;
    border: 0;
}
.education .content:nth-of-type(2) p:first-of-type,
.education .content:nth-of-type(3) p:first-of-type {
    padding: 28px 0 50px
}
@media (max-width: 767px) {
    .education .education-container {
        text-align: center;
    }
    .education .education-container .content button {
        margin-right: auto;
        margin-left: auto;
    }
}
/* end education section  */
/* start qoute section  */
.qoute {
    background-color: var(--fourth-color);
    padding: var(--section-padding) 0;
    text-align: center;
    text-transform: capitalize;
}
.qoute q {
    color: var(--third-color);
    line-height: 1.8;
    margin-bottom: 20px;
    display: block;
}
.qoute p {
    font-size: 20px;
    font-weight: bold;
}
.qoute .bullets {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.qoute .bullets li {
    width: 10px;
    height: 10px;
    border: 1px solid var(--second-color);
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition: .3s;
}
.qoute .bullets li.active,
.qoute .bullets li:hover {
    background-color: var(--second-color);
}
/* end qoute section  */
/* start portfolio section  */
.portfolio {
    padding: var(--section-padding) 0;
}
.portfolio p {
    text-align: center;
    font-size: 15px;
}
.portfolio .imgs-container {
    display: grid;
    margin-top: 50px;
}
@media (min-width: 992px) {
    .portfolio .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
}
@media (min-width: 768px) {
    .portfolio .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
}
.portfolio .imgs-container img {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    background-color: var(--first-color);
    box-shadow: 10px 10px 5px #ccc;
}
@media (max-width: 767px) {
    .portfolio img {
        margin-bottom: 20px;
    }
}
/* end portfolio section  */
/* start contact section  */
.contact {
    padding: var(--section-padding) 0;
    background-color: #2D2724;
}
.contact .container {
    display: grid;
}
@media (min-width: 992px) {
    .contact .container {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
.contact .text h3 {
    color: var(--first-color);
    font-size: 25px;
}
.contact .text p {
    margin-bottom: 40px;
}
.contact ul {
    text-transform: capitalize;
}
.contact li {
    color: #566061;
    line-height: 1.8;
}
.contact li:nth-of-type(3) {
    margin-bottom: 40px;
}
.contact ul span {
    color: var(--first-color);
    display: inline-block;
    margin-right: 20px;
}
.contact form {
    padding: 0 0 0 40px;
    text-transform: capitalize;
}
.contact form p {
    color: var(--first-color);
}
.contact form p span {
    color: #f00;
}
.contact form input {
    display: block;
    height: 40px;
    margin-bottom: 20px;
}
.contact form input:not(:last-child),
textarea {
    color: var(--first-color);
    width: 100%;
    background-color: #566061;
    outline: 0;
    padding: 20px;
}
.contact form textarea {
    height: 130px;
}
.contact input[type= "submit"] {
    background-color: #566061;
    color: var(--first-color);
    margin-left: auto;
    padding: 15px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .contact .text {
        text-align: center;
    }
    .contact form {
        padding: 0;
        margin-top: 30px;
    }
}
/* end contact section  */
/* start footer section  */
footer {
    background-color: #000;
    text-align: center;
    padding: var(--section-padding) 0;
}
footer p {
    color: var(--first-color);
}
footer .icons {
    margin-top: 30px;
}
footer img {
    max-width: 40px;
    background-color: #cccccc3d;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
footer img:hover {
    opacity: .6;
}
@media (max-width: 768px) {
    footer p {
        font-size: 15px
    }
}
/* end footer section  */